@model List<Course>


@{
    ViewData["Title"] = "CourseList";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="dashboard_header mb_50">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dashboard_header_title">
                        <h3> Bootcampler</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dashboard_breadcam text-end">
                        <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i>Bootcampler</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="white_card position-relative mb_20 ">
                <div class="card-body">
                    <div class="ribbon1 rib1-primary"><span class="text-white text-center rib1-primary">@item.CourseAttendee Kişi Katıldı</span></div>
                    <img src="@item.CourseImageUrl" alt="" class="d-block mx-auto my-4" height="150">
                    <div class="row my-4">
                        <div class="col"><span class="badge_btn_3  mb-1">.Net</span> <a href="#" class="f_w_400 color_text_3 f_s_14 d-block">@item.CourseName </a></div>
                        <div class="col-auto">
                            <h4 class="text-dark mt-0">@item.CourseTotalTime <small class="text-muted font-14">Saat</small></h4>
                            @*<ul class="list-inline mb-0 product-review align-self-center">
                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ms-n2"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ms-n2"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star text-warning font-16 ms-n2"></i></li>
                        <li class="list-inline-item"><i class="fas fa-star-half text-warning font-16 ms-n2"></i></li>
                        </ul>*@
                        </div>
                    </div>
                    <div class="d-grid">
                        <a href="/CourseDetail/CourseDetailList/@item.CourseID" class="btn_2">Bootcamp Detayı</a>
                    </div>
                </div>

            </div>
        </div>
    }
</div>