<nav class="sidebar">

    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="#"><img src="~/analytic-html/img/logo.png" alt=""></a>
        <a class="small_logo" href="#"><img src="~/analytic-html/img/mini_logo.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>

    <ul id="sidebar_menu">
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="~/analytic-html/img/menu-icon/dashboard.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>Dashboard</span>
                </div>
            </a>
        </li>

        <h4 class="menu-text"><span>BOOTCAMP İŞLEMLERİ</span> <i class="fas fa-ellipsis-h"></i> </h4>
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-book"></i>
                </div>
                <div class="nav_title">
                    <span>Bootcamp Al </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-notepad"></i>
                </div>
                <div class="nav_title">
                    <span>Bootcamp Yap </span>
                </div>
            </a>
        </li>

        <h4 class="menu-text"><span>KİŞİLER</span> <i class="fas fa-ellipsis-h"></i> </h4>
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-zoom-in"></i>
                </div>
                <div class="nav_title">
                    <span>Öğretmenlerimiz </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-search"></i>
                </div>
                <div class="nav_title">
                    <span>Öğrencilerimiz </span>
                </div>
            </a>
        </li>

        <h4 class="menu-text"><span>BİLDİRİMLER</span> <i class="fas fa-ellipsis-h"></i> </h4>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-announcement"></i>
                </div>
                <div class="nav_title">
                    <span>Tüm Bildirimler</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-comments"></i>
                </div>
                <div class="nav_title">
                    <span>Tüm Mesajlar</span>
                </div>
            </a>
        </li>

        <h4 class="menu-text"><span>PROFİL İŞLEMLERİ</span> <i class="fas fa-ellipsis-h"></i> </h4>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-face-smile"></i>
                </div>
                <div class="nav_title">
                    <span>Profil Sayfam</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-ink-pen"></i>
                </div>
                <div class="nav_title">
                    <span>Profil Ayarları</span>
                </div>
            </a>
        </li>

        <h4 class="menu-text"><span>SİTE İŞLEMLERİ</span> <i class="fas fa-ellipsis-h"></i> </h4>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-key"></i>
                </div>
                <div class="nav_title">
                    <span>Şifre Değiştir</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-share-alt"></i>
                </div>
                <div class="nav_title">
                    <span>Siteye Git!</span>
                </div>
            </a>
        </li>
        <li class="">
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <i class="ti-arrow-right"></i>
                </div>
                <div class="nav_title">
                    <span>Çıkış Yap!</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
